<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    
    <servlet> 
    <servlet-name>dispatcher</servlet-name>
    	<servlet-class>
    	org.springframework.web.servlet.DispatcherServlet
    	</servlet-class>
    	<init-param>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>/WEB-INF/todo-servlet.xml</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>dispatcher</servlet-name>
    	<url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <context-param>
		<param-name>authtoken</param-name>
		<param-value>DhIbSMqPgHHxQWwom0JPCewu1oEJnvl_H6Ql2up0925PaiXJIjMU0LY05pm</param-value>
    </context-param>
    
    <context-param>
    	<param-name>posturl</param-name>
    	<param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    
    <context-param>
    	<param-name>business</param-name>
    	<param-value>kevinlin47-facilitator@live.com</param-value>
    </context-param>
    
    <context-param>
    	<param-name>returnurl</param-name>
    	<param-value>http://localhost:8080/GrillBer</param-value>
    </context-param>
    
</web-app>